<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Ignacio Linares Torcal.
</p>
<p> <a href ="https://quiz2017nlt.herokuapp.com/">Inicio</a></p>
<p> <a href ="https://quiz2017nlt.herokuapp.com/author">Créditos</a></p>
<p> <a href ="https://quiz2017nlt.herokuapp.com/help">Ayuda</a></p>

<p> Repositorio de GitHub donde se puede encontrar el código:
 <p> <a href ="https://github.com/NachoLT/quiz_2017">NachoLT</a></p>
</p>

<img src="/images/Foto.jpg" />

